@using TspuWebPortal.Data
@inject SiteDataService objDataService
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Logging


<h1>Поиск площадки по ID</h1>




<div>
    <input type="number" @bind="@ChosenID" />
    <button class="btn btn-primary" @onclick="OnSubmitTask">Искать</button>
</div>



@if (ChosenSite == null)
{
    <p><em>Площадка не выбрана...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Оператор</th>
                <th>Федеральный округ</th>
                <th>Город</th>
                <th>Адрес</th>
                <th>Тип площадки</th>
                <th>Линки</th>
                <th>Статус Эксплуатации</th>
                <th>Этап конвейера</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr >
                    <td>@ChosenSite.ID</td>
                    <td>@ChosenSite.Oper</td>
                    <td>@ChosenSite.FederalDistrict</td>
                    <td>@ChosenSite.City</td>
                    <td>@ChosenSite.Address</td>
                    <td>@ChosenSite.SiteType</td>
                    <td>@ChosenSite.Links</td>
                    <td>@ChosenSite.MaintainanceStatus</td>
                    <td>@ChosenSite.PipelineStage</td>
                     @if (ChosenSite.Oper != "Не создан" && ChosenSite.Oper != "не определено")
                    {
                        <td><a href=@($"/sites/{ChosenSite.ID}/basic")>Открыть</a></td>
                    }
                </tr>
        </tbody>
    </table>

    
}

@code {
    int ChosenID;
    SiteData ChosenSite = new SiteData ();

    protected async Task OnSubmitTask()
    {
        ChosenSite = await Task.Run(() => objDataService.GetSiteInfoById(Convert.ToInt32(ChosenID)));
    }

    /**/
    }
