@page "/entitymodel_navigation"
@using TspuWebPortal.Model
@inject SiteDataService objDataService
@inject DcEntityService objEntityService

<h3>Добавление и Редактирование Сущностей</h3>

@if (!IsDisplayListDownloaded)
{
    <p><em>Список загружается...</em></p>
}
else
{
    <p>
    <label>
        <button class="btn btn-primary" @onclick="AddNewEntityModel">Добавить сущность</button>
    </label>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>ID сущности</th>
                <th>Вендор</th>
                <th>Тип</th>
                <th>Название модели</th>
                <th>P/N</th>
                <th>Power (nominal/max)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (EntityModelData CurrentDcEntityModel in DcEntityModelList)
            { 
                    <tr>
                    <td>@CurrentDcEntityModel.EntityModelId</td>
                    <td>@CurrentDcEntityModel.Vendor</td>
                    <td>@CurrentDcEntityModel.ModelType</td>
                    <td>@CurrentDcEntityModel.ModelName</td>
                    <td>@CurrentDcEntityModel.PartNumber</td>
                    <td>@CurrentDcEntityModel.NominalPower/@CurrentDcEntityModel.MaximalPower</td>
                    <td><a href=@($"/entitymodel_navigation/{CurrentDcEntityModel?.EntityModelId}")>Редактировать</a></td>
                    </tr>
            }
               
        </tbody>
    </table>    
}

@code 
{
    List<EntityModelData> DcEntityModelList = new List<EntityModelData>();
    bool IsDisplayListDownloaded = false;
    protected override async Task OnInitializedAsync()
    {
        DcEntityModelList = await Task.Run(() => objEntityService.ListAllDcEntityModels());
        IsDisplayListDownloaded = true;
    } 
    
    async Task AddNewEntityModel()
    {
        //objDataService.CreateRoom (new RoomData {RoomName = "не назначен", RoomCoordinates = "не назначен", DataCenterId = 0});
        //objDataService.CreateRoom (new RoomData {RoomName = "не назначен", DataCenterId = 0});
        objEntityService.CreateEntityModel (new EntityModelData ());
        DcEntityModelList = await Task.Run(() => objEntityService.ListAllDcEntityModels());
    }

}
