
@page "/room_navigation/{ID:int}"
@inject SiteDataService objDataService
@using TspuWebPortal.Data
@using TspuWebPortal.Shared
@inherits OwningComponentBase<SiteDataService>

<h3>Площадка @ChosenRoom.RoomId. Редактирование данных помещения ЦОДа.</h3>



<EditForm Model=@ChosenRoom OnSubmit=@FormSubmitted>
  <div class="row">
    <div class = "col-2">
        <label for="RoomName">Название помещения</label>
        <InputText @bind-Value=ChosenRoom.RoomName class="form-control" id="FederalDistrict"  Size="20" />
    </div>
    <div class = "col-4">
        <label for="RoomCoordinates">Координаты помещения</label>
        <InputText @bind-Value=ChosenRoom.RoomCoordinates class="form-control" id="MaintainanceStatus" />
    </div>
    <div class = "col-4">
        <label for="RoomCoordinates">Название ЦОДа</label>
        <InputSelect id="DataCenter" @bind-Value="ChosenRoom.DataCenterId" class="form-control">
            @foreach (var item in DcSiteList)
            {
                <option value="@item.DataCenterId">@item.DataCenterName</option>
            }
        </InputSelect>
    </div>
  </div>
  <br>
<input type="submit" class="btn btn-primary" value="Сохранить"/>
</EditForm>


        <select>
            <option selected disabled="disabled">--Выбор ЦОДа--</option>
            @foreach (var item in DcSiteList)
            {
                <option title="@item.DataCenterName">@item.DataCenterName</option>
            }
        </select>


@code {
        [Parameter]
        public int ID { get; set; }

        RoomData ChosenRoom = new RoomData ();
        List<DcData> DcSiteList = new List<DcData>();
        protected override async Task OnInitializedAsync()
        {
            DcSiteList = await Task.Run(() => objDataService.ListAllDcSites());
            ChosenRoom = await Task.Run(() => objDataService.GetRoomInfoById(Convert.ToInt32(ID)));
        }



        void FormSubmitted(EditContext editContext)
        {
            bool formIsValid = editContext.Validate();
            if (formIsValid) objDataService.UpdateRoomInfo(ChosenRoom);
        }        
    }