
@page "/row_navigation/{ID:int}"
@inject SiteDataService objDataService
@inject DcSiteService objSiteService
@inject DcRoomService objRoomService
@inject DcRowService objRowService
@using TspuWebPortal.Model
@using TspuWebPortal.ORM
@using TspuWebPortal.Shared
@inherits OwningComponentBase<SiteDataService>

<h3>Ряд @ChosenRow.RowId. Редактирование данных ряда.</h3>



<EditForm Model=@ChosenRow OnSubmit=@FormSubmitted>
  <div class="row">
    <div class = "col-2">
        <label for="RoomName">Название ряда АСБИ</label>
        <InputText @bind-Value=ChosenRow.RowNameAsbi class="form-control" id="RowNameAsbi"  Size="20" />
    </div>
        <div class = "col-2">
        <label for="RoomName">Название ряда ЦОД</label>
        <InputText @bind-Value=ChosenRow.RowNameDataCenter class="form-control" id="RowNameDataCenter"  Size="20" />
    </div>
        <div class = "col-2">
        <label for="RoomCoordinates">ЦОД</label>
        <InputSelect id="DataCenter" @bind-Value="DcId" class="form-control">
            <option value=null>Надо выбрать</option>
            @foreach (var item in DcSiteList)
            {
                <option value="@item.DataCenterId">@item.DataCenterName</option>
            }
        </InputSelect>
    </div>
    <div class = "col-2">
        <label for="RoomCoordinates">Помещение</label>
        <InputSelect id="DataCenter" @bind-Value="ChosenRow.RoomId" class="form-control">
            <option value=null>Надо выбрать</option>
            @foreach (var ChosenRoom in DcRoomPartialList)                                               //здесь надо добавить проверку, что не выбрана подсказка
            {
                <option value="@ChosenRoom.RoomId">@ChosenRoom.RoomName</option>
            }
        </InputSelect>
    </div>
  </div>
  <br>
<input type="submit" class="btn btn-primary" value="Сохранить"/>
</EditForm>
<p></p>

@code 
{
    [Parameter]
    public int ID { get; set; }

    bool IsRoomAssigned = true;
    List<RoomData> DcRoomPartialList = new List<RoomData>();

    private int _DcId;
    public int DcId { get => _DcId;  set { _DcId = value; DcRoomPartialList = objRoomService.ListRoomsOnSpecificDataCenter(value); } }

    RowData ChosenRow = new RowData ();
    List<RoomData> DcRoomList = new List<RoomData>();
    List<DcData> DcSiteList = new List<DcData>();

    string tempstring = "";


    protected override async Task OnInitializedAsync()
    {
        DcSiteList = await Task.Run(() => objSiteService.ListAllDcSites());
        DcRoomList = await Task.Run(() => objRoomService.ListAllDcRooms());
        ChosenRow = await Task.Run(() => objRowService.GetRowInfoById(Convert.ToInt32(ID))); 
    }


    void FormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        if (formIsValid) objRowService.UpdateRowInfo(ChosenRow);
    }


}